$textFont: "Roboto", sans-serif;
$main-mint: #b8ffca;
$main-black: #222;
$light-mint: #aaffd5;

$senderTextColor: #000;
$messageTextColor: #111;
$senderTextColorNight: #fff;
$messageTextColorNight: #eee;

.input-chat-form {
  display: flex;
  height: 3rem;
}

.input-chat-textfield {
  border: none;
  border-top: 2px solid #d3d3d3;
  border-radius: 0;
  //   padding: 5%;
  padding: 0.5rem;
  width: calc(100% - 6rem);
  max-height: 3rem;
  font-size: 1.05rem;
  font-family: $textFont;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  font-family: $textFont;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: $main-black;
  // padding: 20px;
  display: inline-block;
  outline: none;

  border: none;
  width: 6rem;
}
