@import "../../utils/variables.scss";

.input-chat-form {
  display: flex;
  height: 3rem;
  // padding-top: 0.5rem;
}

.input-chat-textfield {
  border: none;
  border-top: 2px solid #d3d3d3;
  border-radius: 0;
  //   padding: 5%;
  padding: 0.5rem;
  width: calc(100% - 4rem);
  max-height: 3rem;
  font-size: 1.05rem;
  font-family: $textFont;
}

.input-chat-textfield:focus {
  box-shadow: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  font-family: $textFont;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  // background: $main-black;
  background-color: #0000;
  // padding: 20px;
  display: inline-block;
  outline: none;
  border: none;
  border-top: 2px solid #d3d3d3;
  width: 4rem;
}

.sendButton:focus {
  box-shadow: none;
}

.sendButton.hide {
  pointer-events: none;
}

.send-button-image.hide {
  opacity: 0;
  visibility: hidden;
}

.send-button-image {
  opacity: 1;
  transition: opacity 0.3s ease;
  filter: invert(13%) sepia(2%) saturate(1682%) hue-rotate(161deg)
    brightness(97%) contrast(94%);
}

.send-button-image:hover {
  filter: invert(25%) sepia(7%) saturate(320%) hue-rotate(161deg)
    brightness(93%) contrast(87%);
}
