@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap");

$headingFont: "Patrick Hand", cursive;
$textFont: "Roboto", sans-serif;
$textFontColor: #dbdde1;
$textFontColorHover: #feffff;

$main-mint: #b8ffca;
$main-black: #333538;
$light-mint: #aaffd5;

$center-margin: 0 auto;

$door-img-dimension: 1.3rem;

$tablet-width: 40.625rem;

/*
font-family: 'Patrick Hand', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  min-width: 100% !important;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  position: absolute;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  width: 100%;
  min-width: 100% !important;
  min-height: 100vh;
  height: auto;
  padding: 0;
  overflow-x: hidden;
  // padding-bottom: 1rem;
}

input:-webkit-autofill,
input:-webkit-autofill::first-line {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

// &:-webkit-autofill::first-line,
// &:-webkit-autofill,
// &:-webkit-autofill:hover,
// &:-webkit-autofill:focus,
// &:-webkit-autofill:active {
// }

#root {
  background-color: $main-black;
  min-height: calc(100vh);
  height: auto;
}

body h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Patrick Hand", cursive; */
  font-size: 1.3rem;
}

main {
  position: absolute;
  background-color: pink;
  width: 100%;
  margin: 0;
  padding: 0;
  /*top: 3.5rem;*/
}

button {
  border: none;
  font-family: $textFont;
  outline: none;
}

button:active {
  border: none;
}

button:hover,
input[type="submit"] {
  cursor: pointer;
}

/* note: try adding the loader for the page & the list */
button:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1),
    0px 0px 0px 2.5px rgba(255, 255, 255, 1) 0px 0px 0px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
  /* -webkit-box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696, */
  /* 0px 0px 2px 3px #000000, 0 0 3px 4px #fff; */
  /* box-shadow: 0px 0px 0.5px 1px #ffffff, 0px 0px 1px 2px #969696, */
  /* 0px 0px 2px 3px #000000, 0 0 3px 4px #fff; */
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 1.5px rgba(0, 0, 0, 1),
    inset 0px 0px 0px 2.5px rgba(255, 255, 255, 1) 0px 0px 0px 3px
      rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 1.5px rgba(0, 0, 0, 1),
    inset 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 3px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 1.5px rgba(0, 0, 0, 1),
    inset 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    inset 0px 0px 0px 3px rgba(0, 0, 0, 1);
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

a {
  text-decoration: none;
  color: $textFontColor;
}

a:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1),
    0px 0px 0px 2.5px rgba(255, 255, 255, 1) 0px 0px 0px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
}

div:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1),
    0px 0px 0px 2.5px rgba(255, 255, 255, 1) 0px 0px 0px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
}

li {
  list-style-type: none;
}

select:disabled {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

textarea {
  resize: none;
  overflow: hidden;
}

.no-display.hide-png {
  display: none;
}

.no-display.hide-svg {
  display: none;
}

.transparent-bg-button {
  background-color: #0000;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 1.35rem;
  color: #fff;
  height: 3.4rem;
  min-width: 7rem;
  padding: 0.6rem;
}

.transparent-bg-button:hover {
  background-color: #0002;
  border: 2px solid #ddd;
  color: #eee;
}

.ui.google.button {
  height: 3.1rem;
  font-size: 1.13rem;
  /* font-family: "Raleway", sans-serif; */
  margin: 0;
}

.ui.google.button:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1),
    0px 0px 0px 2.5px rgba(255, 255, 255, 1) 0px 0px 0px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 0px 0.5px rgba(255, 255, 255, 1),
    0px 0px 0px 1.5px rgba(0, 0, 0, 1), 0px 0px 0px 2.5px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(0, 0, 0, 1);
}

.ui.primary.google.button {
  background-color: #469;
}
.ui.primary.google.button:hover {
  background-color: #58b;
}
/*note: implement URL changes for login  and home*/
.google.icon {
}

.backdrop {
  /* display: none; */
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.5;
  min-width: 100vw;
  min-height: 100vh;
}

.textfield-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  // max-height: 4rem;
  padding: 0.7rem 0.5rem;
  margin: $center-margin;
  max-width: 25rem;
}

.textfield-label {
  display: block;
  width: 90%;
  max-width: 25rem;
  margin: $center-margin;
}

.textfield {
  border-radius: 0;
  padding: 15px 20px;
  margin: $center-margin;
  margin-top: 0.7rem;
  width: 100%;
  position: relative;
  display: block;
  width: 90%;
  height: auto;
  max-width: 25rem;
  min-height: 2.8rem;
  max-height: 3rem;
  background-color: white;
  border: solid 1.5px $main-mint;
  border-radius: 5px;
  font-family: $textFont;
  font-size: 1.2rem;
}

.error {
  width: 90%;
  max-width: 25rem;
  margin: 0rem auto;
  font-size: 1.1rem;
  color: #ffb0b0;
}

.textfield.error {
  color: #111;
  background-color: #fdd;
  border: solid 2px #f77;
}

.textfield.error:focus {
  background-color: #fdd;
  -webkit-box-shadow: inset 0px 0px 0.25px 0.5px #fcc,
    inset 0px 0px 0.5px 1px #969696, inset 0px 0px 1px 1.5px #000000;
  box-shadow: inset 0px 0px 0.25px 0.5px #fcc, inset 0px 0px 0.5px 1px #969696,
    inset 0px 0px 1px 1.5px #000000;
}

.textfield-label.error {
  color: #ffb0b0;
  text-shadow: 0px 1px 0px #f778;
}

.error-image {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.35rem;
  right: 0.45rem;
  filter: invert(93%) sepia(11%) saturate(6781%) hue-rotate(297deg)
    brightness(112%) contrast(105%);
}

@media screen and (min-width: 750px) and (min-height: 700px) {
  .textfield-container {
    max-width: 20rem;
  }

  .textfield-label,
  .textfield,
  .error {
    width: 95%;
    max-width: 20rem;
  }
}
