@import "../../../utils/variables.scss";

.friend-item-button {
  width: 100%;
  background-color: #0000;
  // height:
}

.friend-item-button:hover {
  background-color: #ffffff15;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  // vertical-align: middle;
  // text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #ffffff15;
  font-size: 1.1rem;
  color: $textFontColor;

  // border: 1px solid black;
}

.friend-item:hover {
  color: $textFontColorHover;

  // color: rgb(255, 255, 255);
}

.friend-item-div {
  display: flex;
  width: 33%;
  align-items: center;
}
.friend-item-div.information {
  min-width: 10rem;

  // flex-wrap: wrap;
}
.friend-item-div.status {
  display: none;
  justify-content: center;
}

.friend-item-div.actions {
  min-width: 8rem;
  justify-content: flex-end;
}

.friend-item-avatar-container {
  display: inline-block;
}
.friend-item-div.status {
  display: none;
}
.friend-item-div-button {
  width: 3rem;
  height: 3rem;
}

// friend modals

.friend.modal {
  display: none;
  opacity: 1;
  z-index: 100;
  left: 0;
  top: 0;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $main-black;
}

.friend.modal.show {
  display: block;
}

@media screen and (min-width: 750px) {
  .friend-item-div.status {
    display: flex;
  }
}
