@import "../../../utils/variables.scss";

.friend-item-button {
  width: 100%;
  background-color: #0000;
  // height:
}

.friend-item-button:hover {
  background-color: #ffffff15;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  // vertical-align: middle;
  // text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #ffffff15;
  font-size: 1.1rem;
  color: $textFontColor;

  // border: 1px solid black;
}

.friend-item:hover {
  color: $textFontColorHover;

  // color: rgb(255, 255, 255);
}

.friend-item-div {
  display: flex;
  width: 33%;
  align-items: center;
}
.friend-item-div.information {
  min-width: 10rem;

  // flex-wrap: wrap;
}
.friend-item-div.status {
  display: none;
  justify-content: center;
}

.friend-item-div.actions {
  min-width: 8rem;
  justify-content: flex-end;
}

.friend-item-avatar-container {
  display: inline-block;
}
.friend-item-div.status {
  display: none;
}
.friend-item-div-button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;
  background-color: $secondary-black;
  border-radius: 50%;
}

.friend-item-div-button:hover {
  background-color: $secondary-black-hover;
}

.friend-action-button-image {
  width: 1rem;
  height: 1rem;
  filter: invert(93%) sepia(4%) saturate(207%) hue-rotate(182deg)
    brightness(98%) contrast(86%);
}

.friend-action-button-image.danger {
  filter: invert(70%) sepia(5%) saturate(5309%) hue-rotate(312deg)
    brightness(97%) contrast(108%);
}

.friend-action-button-image.danger:hover {
  filter: invert(71%) sepia(3%) saturate(3986%) hue-rotate(312deg)
    brightness(111%) contrast(103%);
}

// friend modals

.friend.modal {
  display: none;
  opacity: 1;
  z-index: 100;
  left: 0;
  top: 0;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $main-black;
}

.friend.modal.show {
  display: block;
}

@media screen and (min-width: 750px) {
  .friend-item-div.status {
    display: flex;
  }
}
