@import "../../utils/variables.scss";

.backdrop.left-sidebar {
  opacity: 0;
  z-index: 14;
}
.backdrop.left-sidebar.show {
  visibility: visible;
  // transition-delay: 0.17s;
  // transition: opacity 0.2s ease 0.165s;
  transition: opacity 0.15s ease 0.165s;
  opacity: 0.5;
  // animation: users-backdrop 0.3s ease;
}

.left-sidebar-container {
  position: relative;
  z-index: 0;
  display: flex;
  // display: none;
  min-width: $sidebarWidth;
  width: $sidebarWidth;
  flex-direction: column;
  padding: 1rem;
  color: white;
  // background-color: #222;
  background-color: #232628;

  height: calc(100vh - 3rem);
  justify-content: space-between;
  visibility: hidden;
  // transform: translate(-$sidebarWidth, 0);
  // transition: transform 0.3s ease;
}

.left-sidebar-container.show {
  visibility: visible;
  display: flex;
  z-index: 15;
  // transform: translate(0, 0);
  // padding-left: calc(1 + $sidebarWidth);
}

.activeContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 50%; */
}

.left-sidebar-status {
  color: #ccc;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 0.8rem;
}

.activeItem {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-weight: normal;
}

.activeContainer img {
  padding-left: 10px;
}

.left-sidebar-container h1 {
  margin-bottom: 0px;
}

@media screen and (min-width: 0px) {
}

@media screen and (min-width: 1200px) {
  .left-sidebar-container {
    display: flex;
    transform: translate(0rem, 0);
    visibility: visible;
    height: 100vh;
  }
  .backdrop.left-sidebar.show {
    visibility: hidden;
    transition: none;
  }
}
