@import "../../utils/variables.scss";

.user-status-outer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  left: 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: $tertiary-black;
  border-top: 1px solid #fffff930;
}

.user-status-user-container {
  display: flex;
  align-items: center;
}

.user-status-buttons-container {
  position: relative;
  top: 0.13rem;
  left: 0.2rem;
  // width: 6rem;
}

.user-status-button-container {
  position: relative;
  display: inline-block;
  margin: 0 0.5rem;
}

.user-status.hover-marker-container {
  position: absolute;
  top: -2.5rem;
  left: -1.4rem;
  // right: 0.9rem;
}

.user-status-button {
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
}

.user-status-button:hover {
  // background-color: #ffffff30;
}

.user-status-button-image {
  width: 1.4rem;
  height: 1.4rem;
  filter: invert(98%) sepia(11%) saturate(621%) hue-rotate(177deg)
    brightness(96%) contrast(83%);
}

.user-status-button-image:hover {
  filter: invert(100%) sepia(0%) saturate(7488%) hue-rotate(332deg)
    brightness(103%) contrast(103%);
}
