@import "../../../utils/variables.scss";

#edit-account-form {
  z-index: 25;
  // position: absolute;
  top: 0;
  background-color: $main-black;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
}
@media screen and (min-width: 1200px) and (min-height: 600px) {
}
