@import "../../../utils/variables.scss";

.messageBox {
  /* background: #f3f3f3; */
  width: 100%;
  border-radius: 20px;
  /* padding: 5px 20px; */
  color: white;
  display: block;
  //   max-width: 80%;
}

.message-text {
  width: 100%;
  letter-spacing: 0;
  // float: left;
  // padding-left: 0.4rem;
  padding-top: 0.3rem;
  font-size: 1.05rem;
  word-wrap: break-word;
  color: $messageTextColor;
  font-family: $textFont;
}

/*
.message-text:hover {
  background-color: #eee;
}
*/
.message-text.no-image {
  width: calc(100% - 3rem);
  margin-left: 3.5rem;
  padding-top: 0;
}

.message-text img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  margin-top: 0.4rem;
  padding: 0.4rem 0.8rem;
  padding-bottom: 0.07rem;
  border-top: 1px solid #ddd;
  width: 100%;
}

.messageContainer.text-only {
  padding-top: 0.07rem;

  margin-top: 0;
  border-top: none;
}

.messageContainer:hover {
  background-color: #eee;
}

.message-text-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  // align-items: center;
  // padding-top: 1.5rem;
}

.message-text-container {
}

.sender-text {
  display: inline-block;
  // align-items: center;
  font-family: $textFont;
  font-weight: bold;
  color: $senderTextColor;
  width: fit-content;

  //   letter-spacing: 0.3px;
}

.sender-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.message-timestamp {
  font-size: 0.8rem;
  color: #455;
  font-weight: normal;
  text-decoration: none;
}

.message-timestamp.beside-sender {
  position: relative;
  top: 0.35rem;
  left: 0.5rem;
}

.message-timestamp.beside-sender:hover {
  text-decoration: none;
}

.message.context-menu-outer-container {
  max-width: 12rem;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

/* .backgroundBlue {
  background: #2979ff;
} */

/* .backgroundLight {
  background: #f3f3f3;
} */
