@import "../../utils/variables.scss";

.user-home-page-container {
  margin: 0;
  display: block;
  min-height: calc(100vh + 0rem);
  height: auto;
  background-color: $main-black;
  color: $textFontColor;
  padding-bottom: 3rem;
}

.sidebar-outer-container {
  position: relative;
  display: flex;
  width: fit-content;
}
