@import "../../utils/variables.scss";

* {
  box-sizing: border-box;
}

.join.form-content-container {
  background-color: #333636cc;
  margin: $center-margin;
}

.door-title-container {
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  width: 100%;
}

.door-img-container {
  display: inline-block;
  position: relative;
  top: 0.49rem;
  margin-right: 0.5rem;
}

.door-icon-img {
  filter: invert(100%) sepia(81%) saturate(1328%) hue-rotate(178deg)
    brightness(105%) contrast(101%);
  width: $door-img-dimension;
  height: $door-img-dimension;
}

.heading {
  color: $textFontColor;
  font-size: 1.5rem;
  font-family: $textFont;
  text-align: center;
  padding-bottom: 10px;
  text-transform: none;
  // border-bottom: 2px solid $main-mint;
}

.join.form-button-container {
  // width: 8rem;
  margin-top: 1.5rem;
}

#join-submit-link {
  min-height: 3rem;
}

.join.form-button.submit {
  margin-top: 0;
}

// @media screen and (min-height: 450px) {
//   .join.form-content-container {
//     min-height: calc(87vh + 13rem);
//     padding-top: 6rem;
//   }
// }

@media screen and (min-width: 750px) and (min-height: 700px) {
  .join.form-content-container {
    padding: 2rem 1rem;
    padding-bottom: 3rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 0px 1px #afffe5, 0px 0px 1px 2px #edd8ff;
    box-shadow: 0px 0px 0px 1px #afffe5, 0px 0px 1px 2px #edd8ff;
  }

  .door-title-container {
    padding-top: 0rem;
  }
}
