@import "../../utils/variables.scss";

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $chat-infobar-background-color;
  // background: #222;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  // border-radius: 4px 4px 0 0;
  height: 3.7rem;
  width: 100%;
  border-bottom: 1.5px solid #fff2;
}

.leftInnerContainer {
  // flex: 0.5;
  display: flex;
  align-items: center;
  // margin-left: 1rem;
  color: $senderTextColorNight;
}

.rightInnerContainer {
  display: flex;
  // flex: 0.5;
  justify-content: flex-end;
  // margin-right: 5%;
}

.onlineIcon {
  // margin-right: 5%;
}

.room-title {
  padding-left: 0.5rem;
  font-family: $textFont;
}

.nav-menu-icon-container,
.users-icon-container {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}

.nav-menu-icon-img,
.users-icon-img {
  filter: invert(93%) sepia(87%) saturate(5%) hue-rotate(200deg)
    brightness(104%) contrast(73%);
  width: 2rem;
  height: 2rem;
}

.nav-menu-icon-img:hover,
.users-icon-img:hover {
  filter: invert(100%) sepia(3%) saturate(7462%) hue-rotate(68deg)
    brightness(123%) contrast(120%);
  cursor: pointer;
}

.nav-menu-icon-img.active,
.users-icon-img.active {
  filter: invert(100%) sepia(3%) saturate(7462%) hue-rotate(68deg)
    brightness(123%) contrast(120%);
}

@media screen and (min-width: 1200px) {
  .nav-menu-icon-container {
    display: none;
  }
}
