.messages {
  /* padding: 5% 0; */
  overflow: auto;
  flex: auto;
}

.messages-container {
  overflow-x: hidden;
  padding: 1rem;
  /* border: 1px solid white; */
}

.messages-inner-container {
  overflow-x: hidden;
}
