@import "../../utils/variables.scss";

.messages {
  /* padding: 5% 0; */
  overflow: hidden;
  flex: auto;
}

.messages.messages-container {
  overflow-x: hidden;
  padding: 0;
  padding-bottom: 1rem;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  /* border: 1px solid white; */
}

.messages-inner-container {
  overflow-x: hidden;
  // overflow-y: visible;
}

.scroll-to-bottom-button.messages {
  background-color: $secondary-black;
  width: 2.25rem;
  height: 2.25rem;
  bottom: 1rem;
  border-radius: 50%;
}
