@import "../../utils/variables.scss";

.messages {
  /* padding: 5% 0; */
  overflow: hidden;
  flex: auto;
}

.messages.messages-container {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  padding-bottom: 1rem;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  /* border: 1px solid white; */
}

.messages-inner-container {
  overflow-x: hidden;
  // overflow-y: visible;
}

.scroll-to-bottom-button.messages {
  background-color: $secondary-black;
  width: 2.25rem;
  height: 2.25rem;
  bottom: 1rem;
  border-radius: 50%;
}

#messages-container-top-notification {
  min-height: 2rem;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.6rem;
  color: $textFontColor;
  // background-color: #0001;
}

#messages-container-loader {
  z-index: 50;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  height: 100%;
  width: 100%;
  // background-color: #050505;
  background-color: $chat-background-color;
  color: $chat-text-color;
}

#messages-container-scroll-down-button {
  z-index: 49;
  position: fixed;
  background-color: #07050f;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.4rem;
  bottom: 4.5rem;
  right: 1.2rem;
  border-radius: 50%;
  // box-shadow: 3px 3px 3px -2px #333;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  // animation: 0.3s ease-out forwards scroll-down-button-show;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out,
    visibility 0.3s ease-out;
  // 0.3s ease-out
}
#messages-container-scroll-down-button:hover {
  background-color: #14121c;
}

#messages-container-scroll-down-button.hide {
  transform: translateY(1rem);
  opacity: 0;
  visibility: hidden;
  // animation: 0.3s ease-out forwards scroll-down-button-hide;
}

#messages-container-scroll-down-img {
  width: 1.45rem;
  height: 1.45rem;
}

@media screen and (min-width: 768px) and (min-height: 350px) {
  #messages-container-scroll-down-button {
    right: 2.3rem;
  }
}

@keyframes scroll-down-button-hide {
  0% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  99% {
    opacity: 0;
    transform: translateY(1rem);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translateY(1rem);
    visibility: hidden;
  }
}

@keyframes scroll-down-button-show {
  0% {
    opacity: 0;
    transform: translateY(1rem);
    visibility: hidden;
  }

  99% {
    opacity: 0;
    transform: translateY(1rem);
    visibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
}
