@import "../../../../utils/variables.scss";

.friend-profile-outer-container {
}

.friend-profile-section-container {
  background-color: $secondary-black;
}

.friend-profile-section-container:nth-of-type(2) {
  background-color: $main-black;
}

.friend-profile-section-sub-container {
  padding: 0.8rem;
}

#friend-communication-buttons-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000;
  border: 1px solid #fff1;
}

#friend-profile-username {
  font-size: 1.2rem;
  color: $textFontWhite;
}

#friend-ellipsis-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  background-color: #0000;
}

.ellipsis-icon-img {
  height: 1.5rem;
  width: 1.5rem;
  filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg)
    brightness(99%) contrast(107%);
}

.friend-communication-button {
  width: 33.2%;
  height: 3rem;
  background-color: #0000;
  color: $textFontColor;
}

.friend-profile-section-header {
  font-size: 0.8rem;
  color: $textFontColor;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.friend-profile-mutual-button-container {
}

.friend-profile-mutual-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ddf1;
  color: $textFontWhite;
  border-radius: 5px 5px 0 0;
}

.friend-profile-mutual-button:nth-of-type(2) {
  border-radius: 0 0 5px 5px;
}

.friend-profile-notes-textarea {
  width: 100%;
  background-color: #ddf1;
  color: $textFontColor;
  min-height: 4rem;
  border-radius: 5px;
}
