$headingFont: "Patrick Hand", cursive;
$textFont: "Roboto", sans-serif;

$main-mint: #b8ffca;
$main-black: #333538;
$secondary-black: #232628;
$light-mint: #aaffd5;
$discord-sidebar-black: #2f3136;
$discord-content-black: #36393f;

$center-margin: 0 auto;

$profilePictureSize: 4rem;
$previewImageSize: 8rem;

.user-settings-content-header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 0 0.8rem;
  justify-content: space-between;
  align-items: center;
  // background-color: #111;
  background-color: $secondary-black;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  overflow: visible;
}

#profile-large-image-container {
  display: inline-block;

  width: $profilePictureSize;
  height: $profilePictureSize;
}

#user-large-image {
  opacity: 1;
  z-index: 20;
  display: inline-block;
  // background-color: pink;
  width: $profilePictureSize;
  height: $profilePictureSize;
  border-radius: 50%;
}

#profile-information-container {
  position: relative;
  left: 0.5rem;
}

.profile-information {
  // display: inline-block;
  width: fit-content;
  padding-right: 1rem;
  // margin: 0;
  font-size: 1.2rem;
  word-break: break-word;
}

#profile-buttons-container {
  justify-content: center;
  margin-top: 1rem;
}

#profile-container,
#profile-buttons-container {
  max-width: 25rem;
  margin: 0 auto;
}

.profile-button {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 2.8rem;
  width: 8rem;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: $light-mint;
  font-family: $textFont;
  font-size: 1.05rem;
  // margin-left
}

@media screen and (min-width: 750px) {
}
