@import "../../utils/variables.scss";

#profile-container,
#profile-buttons-container {
  max-width: 25rem;
  margin: 1rem auto;
}

.my-account-content-container {
  z-index: 2;
  // display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  background-color: $main-black;
}

.my-account-content-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 0 0.8rem;
  // justify-content: space-between;
  align-items: center;
  // background-color: #111;
  background-color: $secondary-black;
}

.my-account-section-heading {
  position: relative;
  // left: 0.8rem;
}

#my-account-back-button {
  position: relative;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  background-color: #0000;
  filter: invert(94%) sepia(4%) saturate(168%) hue-rotate(182deg)
    brightness(95%) contrast(91%);
}

#my-account-back-button:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(53deg)
    brightness(104%) contrast(102%);
}

.left-arrow-icon-img {
  width: 2rem;
  height: 2rem;
}

.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  overflow: visible;
}

#profile-large-image-container {
  display: inline-block;

  width: $profilePictureSize;
  height: $profilePictureSize;
}

#user-large-image {
  opacity: 1;
  z-index: 20;
  display: inline-block;
  // background-color: pink;
  width: $profilePictureSize;
  height: $profilePictureSize;
  border-radius: 50%;
}

#profile-information-container {
  position: relative;
  left: 0.5rem;
}

.profile-information {
  // display: inline-block;
  width: fit-content;
  padding-right: 1rem;
  // margin: 0;
  font-size: 1.2rem;
  word-break: break-word;
}

#profile-buttons-container {
  justify-content: center;
  // margin-top: 1.5rem;
}

.profile-button {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  height: 2.8rem;
  width: 8rem;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: $light-mint;
  font-family: $textFont;
  font-size: 1.05rem;
  // margin-left
}

.profile-button:hover {
  background-color: $light-mint-hover;
}

@media screen and (min-width: 450px) {
  .my-account-content-header {
    // left: 0;
  }

  .my-account-section-container {
    position: relative;
    top: 4rem;
    padding: 1rem;
    border: 1px solid white;
    background-color: #292b2f;
  }
  .profile-container {
    margin: 0;
  }
  #profile-information-container {
    left: 1.5rem;
    top: 0.3rem;
  }
  .profile-information {
    font-size: 1.25rem;
    margin-top: 0.15rem;
  }
}

@media screen and (min-width: 750px) {
}
