$main-pink: #f7d2cc;
$main-black: #222;
$color-blue: #0000ff;

$sidebarWidth: 13rem;

.outerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: $main-black;
}

.container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  // background: #ffffff;
  border-radius: 0;
  height: 100%;
  width: 100vw;
  transform: translate(-$sidebarWidth, 0);
  transition: transform 0.3s ease;
  // transition: none;
  // border: 1px solid white;
}

.container.users-shown {
  transform: translate(-2 * $sidebarWidth, 0);
  // transition: transform 0.3s ease;
  // transition: none;
}

@media screen and (min-width: 0px) and (max-width: 650px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    min-width: 100vw;
    height: 100%;
  }
}

@media screen and (min-width: 650px) {
  .container {
    transition: none;
    // width: calc(100vw - #{$sidebarWidth});
    // min-width: calc(100vw - #{$sidebarWidth});
    width: calc(100vw);
    min-width: calc(100vw);
  }
  .container.users-shown {
    transition: none;
    transform: translate(-$sidebarWidth, 0);
    // width: calc(100vw);min-width: calc(100vw);
    width: calc(100vw - #{$sidebarWidth});
    min-width: calc(100vw - #{$sidebarWidth});
    // transform: translate(0, 0);
    // transition: transform 0.3s ease;
    // transition: none;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: calc(100vw - (1 *#{$sidebarWidth}));
    min-width: calc(100vw - (1 *#{$sidebarWidth}));
    transform: translate(0, 0);
  }
  .container.users-shown {
    // width: calc(100vw);
    // min-width: calc(100vw);
    transform: translate(0, 0);
    width: calc(100vw - (2 *#{$sidebarWidth}));
    min-width: calc(100vw - (2 *#{$sidebarWidth}));
    // transform: translate(0, 0);
    // transition: transform 0.3s ease;
    // transition: none;
  }
}
