$main-pink: #f7d2cc;
$main-black: #222;
$color-blue: #0000ff;

.outerContainer {
  display: flex;
  // justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $main-black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  // background: #ffffff;
  border-radius: 0;
  height: 100%;
  width: 60%;
  // border: 1px solid white;
}

@media screen and (min-width: 300px) and (max-width: 650px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 650px) {
  .container {
    width: calc(100% - 13rem);
  }
}
