@import "../../utils/variables.scss";

.outerContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  min-height: 100vh;
  background-color: $main-black;
}

.chat-area-container {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $chat-background-color;
  // background: #ffffff;
  border-radius: 0;
  height: 100%;
  width: 100vw;
  min-width: calc(100vw);
  max-height: 100vh;
  min-height: 100vh;
  // min-width: calc(100vw - 4.5rem);
  transform: translate(-$sidebarWidth, 0) translate(-$roomSidebarWidth, 0);
  transition: transform 0.3s ease;
  overflow: hidden;
  // transition: none;
  // border: 1px solid white;H
}

.chat-area-container.users-shown {
  // note: All the translates are broken, please fix in the future
  transform: translate(-2 * $sidebarWidth, 0);
  // transition: transform 0.3s ease;
  // transition: none;
}

.chat-area-container.rooms-shown {
  transform: translate(0 * $sidebarWidth, 0);
  // transform: translate(0 * $leftSidebarsTotalWidth, 0);
  // transition: transform 0.3s ease;
  // transition: none;
}

@media screen and (min-width: 650px) {
  .chat-area-container {
    transition: none;
    // width: calc(100vw - #{$sidebarWidth});
    // min-width: calc(100vw - #{$sidebarWidth});
    width: calc(100vw);
  }
  .chat-area-container.users-shown {
    transition: none;
    transform: translate(-$sidebarWidth, 0) translate(-$roomSidebarWidth, 0);
    // width: calc(100vw);min-width: calc(100vw);
    width: calc(100vw - #{$sidebarWidth});
    min-width: calc(100vw - #{$sidebarWidth});
    // transform: translate(0, 0);
    // transition: transform 0.3s ease;
    // transition: none;
  }
  .chat-area-container.rooms-shown.users-shown {
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .chat-area-container {
    width: calc(100vw - (1 *#{$sidebarWidth}) - #{$roomSidebarWidth});
    min-width: calc(100vw - (1 *#{$sidebarWidth}) - #{$roomSidebarWidth});
    transform: translate(0, 0);
  }
  .chat-area-container.users-shown {
    // width: calc(100vw);
    // min-width: calc(100vw);
    transform: translate(0, 0);
    width: calc(100vw - (2 *#{$sidebarWidth}) - #{$roomSidebarWidth});
    min-width: calc(100vw - (2 *#{$sidebarWidth}) - #{$roomSidebarWidth});
    // transform: translate(0, 0);
    // transition: transform 0.3s ease;
    // transition: none;
    // width: calc((100vw - (2 *#{$sidebarWidth})) -$roomSidebarWidth);
    // min-width: calc((100vw - (2 *#{$sidebarWidth})) -$roomSidebarWidth);
  }
  .chat-area-container.rooms-shown {
  }
}
