@import "../../utils/variables.scss";

.backdrop.online-users {
  opacity: 0;
  z-index: 9;
}
.backdrop.online-users.show {
  visibility: visible;
  // transition-delay: 0.17s;
  // transition: opacity 0.2s ease 0.165s;
  transition: opacity 0.15s ease 0.165s;
  opacity: 0.5;
  // animation: users-backdrop 0.3s ease;
}

.online-users-container {
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-width: $onlineUsersWidth;
  width: $onlineUsersWidth;
  padding: 0.5rem;
  padding-bottom: 2rem;
  color: white;
  // background-color: #222;
  background-color: #232628;
  visibility: hidden;
  // transform: translate(-2 * $onlineUsersWidth, 0);
  transform: translate(-2 * $onlineUsersWidth, 0)
    translate(-$roomSidebarWidth, 0);
  transition: z-index 0.3s ease;

  height: 100vh;
  justify-content: space-between;
}

.online-users-container.show {
  z-index: 10;
  visibility: visible;
}

.activeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  /* margin-bottom: 50%; */
}

.online-users-status {
  position: relative;
  top: 0.15rem;
  left: 0.5rem;
  // bottom: 0.3rem;
  padding-bottom: 0.8rem;
  color: $textFontColor;
  text-transform: uppercase;
  font-size: 1rem;
}

.activeItem {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 2rem;
  font-size: 1.15rem;
  font-weight: normal;
}

.activeItem:hover {
  background-color: #ffffff15;
}

.activeContainer img {
  padding: 0.5rem;
}

.online-users-container h1 {
  margin-bottom: 0px;
}

.online-users-username {
  font-size: 1.15rem;
}

@media screen and (min-width: 0px) {
}

@media screen and (min-width: 650px) {
  .backdrop.online-users.show {
    visibility: hidden;
  }
  .online-users-container {
    display: flex;
    width: $onlineUsersWidth;
    transform: translate(-$onlineUsersWidth, 0) translate(-$roomSidebarWidth, 0);
  }
  .online-users-container.hide {
    visibility: hidden;
  }
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .online-users-container {
    display: flex;
    width: $onlineUsersWidth;
    transform: translate(-$onlineUsersWidth, 0) translate(-$roomSidebarWidth, 0);
  }
  .online-users-container.show {
    transform: translate(0, 0);
  }
}

@keyframes users-backdrop {
  0% {
    visibility: hidden;
  }
  98% {
    visibility: hidden;
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: visible;
  }
}
