// font variables
$headingFont: "Patrick Hand", cursive;
$textFont: "Roboto", sans-serif;
// color variables
$mainWhiteColor: #dbdde1;
$textFontColor: #dbdde1;
$textFontColorSlightDim: #c3c4c6;
$textFontColorDim: #b3b4b6;
$textFontColorDimmer: #909193;
$textFontColorHover: #feffff;
$textFontWhite: #fff;
$messageTextColor: #232628;
$senderTextColor: #232628;
$senderTextColorNight: #fff;
$main-mint: #b8ffca;
$discord-mobile-green: #5cc296;
$main-black: #333538;
$secondary-black: #232628;
$secondary-black-hover: #303335;
$dark-steel-blue: #293032;
$discord-sidebar-black: #2f3136;
$discord-roomlist-black: #0f1116;
$discord-content-black: #36393f;
$discord-footer-black: #07050f;
$discord-footer-black-hover: #14121c;
$modal-footer-black: #272a2c;
$grayblue: #567;
$light-mint: #aaffd5;
$light-mint-hover: #c8ffe4;
$warningTextColor: #fa8;
$warningTextColorHover: #fdb;
$warningTextColorLight: #fc9;
$warningBackgroundColor: #fdb;
$warningBackgroundColorHover: #fed;
$dangerTextColor: #f88;
$dangerTextColorHover: #fbb;
$dangerTextColorLight: #fcc;
$dangerBackgroundColor: #f04747;
$dangerBackgroundColorHover: #d02727;
// size variables
$center-margin: 0 auto;
$door-img-dimension: 1.3rem;
$tablet-width: 40.625rem;
$onlineUsersWidth: 13rem;
$sidebarWidth: 13rem;
$roomSidebarWidth: 4.5rem;
$leftSidebarsTotalWidth: $sidebarWidth + $roomSidebarWidth;
$rightSidebarsTotalWidth: $sidebarWidth;
// //profile picture size variables
$profilePictureSizeFriendList: 2.5rem;
$profilePictureSizeUserProfileCard: 3.5rem;
$profilePictureSizeMessage: 3rem;
$profilePictureSize: 4rem;
$profilePictureSize450w: 5.5rem;
$profilePictureSize750w: 7.5rem;
$previewImageSize: 8rem;
$previewImageSize400w400h: 9rem;
$previewImageSize500w450h: 12rem;
$previewImageSize600w500h: 14rem;
$previewImageSize700w600h: 16rem;
$previewImageSize1200w600h: 17rem;

// modal variables
$modalBorderColor: #5663;
