@import "../../utils/variables.scss";

#user-footer-container {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 80;
  bottom: 0;
  left: 0;
  background-color: $discord-footer-black;
  min-height: 3rem;
  height: 3rem;
  min-width: 100vw;
}
.user-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 3rem;
  background-color: #0000;
  width: 100%;
  color: $textFontColor;
}

.user-footer-link:hover {
  background-color: #ffffff08;
  color: $textFontColorHover;
}

@media screen and (min-width: 1200px) {
  #user-footer-container {
    // display: none;
  }
}
