@import "../../utils/variables.scss";

#user-footer-container {
  position: fixed;
  z-index: 80;
  bottom: 0;
  left: 0;
  background-color: $discord-footer-black;
  min-height: 3rem;
  height: 3rem;
  min-width: 100vw;
  transition: transform 0.3s ease;
}

#user-footer-container.hide {
  transform: translateY(3rem);
}

#user-footer-content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 28rem;
  margin: 0 auto;
}

.user-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 3rem;
  background-color: #0000;
  width: 100%;
  color: $textFontColor;
}

.user-footer-link:hover {
  background-color: #ffffff08;
}

.user-footer-link.selected,
.user-footer-link.selected:hover {
  background-color: #ffffff15;
}

.footer-button-image {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(96%) sepia(5%) saturate(133%) hue-rotate(181deg)
    brightness(93%) contrast(92%);
}

@media screen and (min-width: 1200px) {
  #user-footer-container {
    // display: none;
  }
}
