@import "../../utils/variables.scss";

.back-button {
  width: 3rem;
  height: 3rem;
  padding: 0.625rem;
  background-color: #0000;
  filter: invert(91%) sepia(2%) saturate(416%) hue-rotate(182deg)
    brightness(96%) contrast(96%);
}
.back-button:hover {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(53deg)
    brightness(104%) contrast(102%);
}

.back-icon-img {
  background-color: #0000;
  width: 1.75rem;
  height: 1.75rem;
}

.back-icon-img:hover {
}
.back-button.hide-on-desktop {
  position: relative;
  right: 0.8rem;
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .back-button.hide-on-desktop {
    display: none;
  }
}
