@import "../../utils/variables.scss";

.close-button {
  width: 3rem;
  height: 3rem;
  background-color: #0000;
}
.close-button-container.user-item {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  // top: 25%;
  width: 1.5rem;
  height: 1.5rem;
}
.close-button.user-item {
  // position: absolute;
  // right: 0;
  width: 1.5rem;
  height: 1.5rem;
  // float: right;
}

.close-button.user-item:hover {
}

.close-icon-img {
  background-color: #0000;
  width: 1.25rem;
  height: 1.25rem;
  filter: invert(82%) sepia(6%) saturate(84%) hue-rotate(182deg) brightness(89%)
    contrast(85%);
}

.close-icon-img.user-item {
  width: 0.7rem;
  height: 0.7rem;
}

.close-icon-img.user-item:hover {
  filter: invert(99%) sepia(5%) saturate(243%) hue-rotate(223deg)
    brightness(114%) contrast(100%);
}

.modal-heading-container.modal-header-content-container > .close-button {
  position: relative;
  left: 0.7rem;
}

.close-button.hide-on-mobile,
.close-button-container.hide-on-mobile {
  display: none;
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .close-button.hide-on-mobile,
  .close-button-container.hide-on-mobile {
    display: block;
  }
}
