@import "../../../utils/variables.scss";
.hover-marker-container {
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  // visibility: hidden;
  opacity: 1;
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  padding: 0.2rem 0.5rem;

  // min-width: 4rem;
  // width: fit-content;
  min-height: 2rem;
  background-color: black;
  color: $textFontColor;
  font-size: 1rem;
  box-shadow: 0.1px 0.5px 0px #fff2;
  border-radius: 5px;
  transition: opacity 0.2s ease;
}

.hover-marker-container.show {
  // visibility: hidden;
  opacity: 1;
  // left: 1rem;
}
