$headingFont: "Patrick Hand", cursive;
$textFont: "Roboto", sans-serif;

$main-mint: #b8ffca;
$main-black: #333538;
$secondary-black: #232628;
$light-mint: #aaffd5;
$discord-sidebar-black: #2f3136;
$discord-content-black: #36393f;

$center-margin: 0 auto;

$profilePictureSize: 4rem;

.user-settings-page-container {
  margin: 0;
  display: block;
  min-height: calc(100vh + 0rem);
  height: auto;
  background-color: $main-black;
  color: aliceblue;
}

.user-settings-outer-flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: calc(100vh + 0rem);
}

.user-settings-sidebar-outer-container {
  display: none;
  padding-top: 3rem;
  // background-color: #333;
  background-color: #333538;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

#user-settings-close-button {
  display: none;
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: 0;
}

.user-settings-sidebar-header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  padding: 0 0.8rem;
  justify-content: space-between;
  align-items: center;
  // background-color: #111;
  background-color: $secondary-black;
}

.user-settings-header-heading {
  display: inline-block;
  font-size: 1.3rem;
  // height: 1.3rem;
}

#user-settings-logout-button {
  width: 3rem;
  height: 3rem;
  background-color: #0000;
  border: none;
  filter: invert(46%) sepia(22%) saturate(2369%) hue-rotate(315deg)
    brightness(96%) contrast(73%);
}

.user-settings-sidebar-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  vertical-align: middle;
  text-align: left;
  padding-left: 1.2rem;
  margin-top: 0.2rem;
  // border: 1px solid black;
}

.user-settings-sidebar-item:hover {
  background-color: #fff1;
  // color: rgb(255, 255, 255);
}

.user-settings-content-container {
  // display: none;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}

.user-settings-section-container {
}

.logout-icon-img {
  width: 2rem;
  height: 2rem;
}

#user-settings-logout-button:hover {
  filter: invert(58%) sepia(42%) saturate(481%) hue-rotate(308deg)
    brightness(93%) contrast(108%);
}

@media screen and (min-width: 750px) {
  #user-settings-close-button {
    display: block;
  }
}
