@import "../../utils/variables.scss";

.user-profile-card-outer-container {
  overflow-y: auto;
}

.user-profile-card-section-container {
  background-color: $secondary-black;
}

.user-profile-card-section-container:nth-of-type(2) {
  background-color: $main-black;
}

.user-profile-card-section-sub-container {
  padding: 0.8rem;
}

.user-profile-card-section-container.buttons-container,
.user-profile-card-section-sub-container.buttons-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000;
  border: 1px solid #fff1;
}

#user-profile-card-username {
  font-size: 1.2rem;
  color: $textFontWhite;
}

#user-profile-card-ellipsis-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  height: 3rem;
  width: 3rem;
  background-color: #0000;
  border-radius: 50%;
}

#user-profile-card-ellipsis-button:hover {
  background-color: #fff1;
}

.ellipsis-icon-img {
  height: 1.5rem;
  width: 1.5rem;
  filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg)
    brightness(99%) contrast(107%);
}

.user-profile-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 33.2%;
  height: 3rem;
  background-color: #0000;
  color: $textFontColor;
}

.user-profile-card-button:hover {
  background-color: #fff1;
}

.user-communication-button-image-container {
  display: block;
  width: 100%;
  position: relative;
  top: 0.25rem;
}

.user-profile-card-button-image {
  width: 1.1rem;
  height: 1.1rem;
  filter: invert(96%) sepia(8%) saturate(98%) hue-rotate(183deg) brightness(92%)
    contrast(92%);
}

.user-profile-card-button-text {
  position: relative;
  bottom: 0.25rem;
}

.user-profile-card-section-header {
  font-size: 0.8rem;
  color: $textFontColor;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.user-profile-card-mutual-button-container {
}

.user-profile-card-mutual-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ddf1;
  color: $textFontWhite;
  border-radius: 5px 5px 0 0;
}

.user-profile-card-mutual-button:nth-of-type(2) {
  border-radius: 0 0 5px 5px;
}

.user-profile-card-notes-textarea {
  width: 100%;
  background-color: #ddf1;
  color: $textFontColor;
  min-height: 4rem;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .user-profile-card.modal {
    min-width: 32rem;
    padding-top: 0;
  }
  .user-identity.user-profile-card-section-sub-container {
    display: flex;
    align-items: center;
    padding: 1.2rem;
  }
  #selected-section-container {
    min-height: 15rem;
  }
  #user-profile-card-username {
    position: relative;
    bottom: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
  }
  .user-identity-action-button {
    position: absolute;
    right: 4rem;
    top: 1.3rem;
    width: fit-content;
    height: 2.4rem;
    padding: 0 1rem;
    border-radius: 3px;
    font-size: 1rem;
    background-color: $main-mint;
  }
  #user-profile-card-ellipsis-button {
    top: 1.1rem;
    right: 0.5rem;
  }
  .user-profile-card-section-container.buttons-container {
    justify-content: flex-start;
    width: fit-content;
    border: none;
  }
  .user-profile-card-button {
    width: fit-content;
    padding: 0 1rem;
  }
  .user-profile-card-button.selected {
    border-bottom: 1px solid white;
  }
}
