@import "../../utils/variables.scss";

.profile-picture-outer-container {
  display: inline-block;
  // padding: 0.5rem;
  // height: $profilePictureSize;
  // width: $profilePictureSize;
  padding-right: 0.5rem;
}

.message.profile-picture-outer-container:hover {
  cursor: pointer;
}
.profile-picture-inner-container {
  padding: 0;
  border-radius: 50%;
  height: $profilePictureSize;
  width: $profilePictureSize;
  // border: 1px solid black;
}
.profile-picture-image {
  padding: 0;
  border-radius: 50%;
  height: $profilePictureSize;
  width: $profilePictureSize;
}

.profile-picture-inner-container.message,
.profile-picture-image.message {
  height: $profilePictureSizeMessage;
  width: $profilePictureSizeMessage;
  // border: 1px solid black;
}
.profile-picture-image.message {
  position: relative;
  bottom: 0.2rem;
}
.profile-picture-inner-container.friend-list,
.profile-picture-image.friend-list {
  height: $profilePictureSizeFriendList;
  width: $profilePictureSizeFriendList;
  // border: 1px solid black;
}

.profile-picture-inner-container.user-profile-card,
.profile-picture-image.user-profile-card {
  height: $profilePictureSizeUserProfileCard;
  width: $profilePictureSizeUserProfileCard;
  // border: 1px solid black;
}
