@import "../../../../utils/variables.scss";

.modal.delete-message {
  padding-top: 3rem;
}

.modal-paragraph.delete-message {
  //   max-width: 23rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
}

#delete-message-warning {
  font-size: 1rem;
  color: $dangerTextColorLight;
}

#message-to-be-deleted {
  margin: 1.5rem auto;
  font-size: 1.2rem;
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .modal.delete-message {
    height: auto;
    min-width: 30rem;
    max-width: 36rem;
    padding-top: 0;
    padding-bottom: 3.5rem;
  }

  .modal-paragraph.delete-message {
  }
}
