@import "../../utils/variables.scss";
.room-sidebar-outer-container {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $discord-roomlist-black;
  padding-top: 1rem;
  padding-bottom: 3rem;
  width: 4.5rem;
  height: 100vh;
}
