@import "../../../utils/variables.scss";

.context-menu-outer-container {
  z-index: 500;
  position: fixed;
  top: 1rem;
  left: 1rem;
  // min-width: 8rem;
  width: fit-content;
  padding: 0.5rem;
  // min-height: 10rem;
  background-color: #131518;
  box-shadow: 1px 1px 0 1px #222;
  border-radius: 3px;
}

.context-menu-outer-container:focus {
  box-shadow: 1px 1px 0 1px #222;
}

.context-menu-inner-container {
  width: 100%;
}

.context-menu-buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.context-menu-button {
  width: 100%;
  background-color: #0000;
  color: $textFontColor;
  text-align: left;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  min-height: 2.5rem;
  border-radius: 3px;
}

.context-menu-button.user {
  min-width: 8rem;
}

.context-menu-button:hover {
  color: $textFontWhite;
  background-color: #fff1;
}

.context-menu-button.danger {
  color: $dangerTextColor;
}

.context-menu-button.danger:hover {
  color: $textFontWhite;
  background-color: $dangerBackgroundColor;
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
}
