@import "../../../../utils/variables.scss";

#room-icon-change-container {
  position: relative;
  left: 0.2rem;
  border-radius: 50%;
  background-color: #0000;
  width: $profilePictureSize;
  height: $profilePictureSize;
  overflow: visible;
}

.room-icon.profile-picture-inner-container {
  display: inline-block;

  width: $profilePictureSize;
  height: $profilePictureSize;
}

.room-icon.profile-picture-inner-container.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grayblue;
  font-size: 1.7rem;
}

.room-icon.profile-picture-image {
  opacity: 1;
  z-index: 20;
  display: inline-block;
  // background-color: pink;
  width: $profilePictureSize;
  height: $profilePictureSize;
  border-radius: 50%;
}

#room-icon-form {
  z-index: 21;
  position: absolute;
}

#room-icon-upload-label {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  // opacity: 0;
  width: $profilePictureSize;
  height: $profilePictureSize;
  font-size: 0.85rem;
  font-weight: bold;
  background-color: #0000;
  color: #0000;
  border-radius: 50%;
}

#room-icon-upload-label:hover {
  background-color: #0007;
  cursor: pointer;
}

#room-icon-upload {
  position: absolute;
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.room-icon.modal {
  display: none;
  opacity: 1;
  z-index: 100;
  left: 0;
  top: 0;

  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $main-black;
}

.room-icon.modal.show {
  display: block;
}

.room-icon.modal-content-container {
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}
.room-icon.modal-paragraph {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1rem;
}

#room-icon-buttons-container {
  display: flex;
}

#room-icon-preview-image {
  height: $previewImageSize;
  width: $previewImageSize;
  border-radius: 4px;
  // text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.room-icon-remove {
  font-size: 1rem;
  color: $dangerTextColor;
  background-color: #0000;
  // width: fit-content;
}

.room-icon-remove.below-avatar {
  display: block;
  padding: 0;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.room-icon-remove.show-750w {
  display: none;
}

.room-icon-remove:hover {
  color: $dangerTextColorHover;
}

// $profilePictureSize450w: 6rem;

@media screen and (min-width: 450px) {
  #room-icon-change-container,
  #room-icon-upload-label,
  .room-icon.profile-picture-image,
  .room-icon.profile-picture-inner-container {
    width: $profilePictureSize450w;
    height: $profilePictureSize450w;
  }
  #room-icon-upload-label:hover {
    color: #fff;
    text-shadow: 1px 1px 0 #123;
  }
}

@media screen and (min-width: 750px) and (min-height: 450px) {
  #room-icon-change-container,
  #room-icon-upload-label,
  .room-icon.profile-picture-image,
  .room-icon.profile-picture-inner-container {
    position: relative;
    top: 0.1rem;
    width: $profilePictureSize750w;
    height: $profilePictureSize750w;
  }
  .room-icon.profile-picture-image {
    top: 0;
  }

  .room-icon-remove.show-750w {
    display: block;
  }
  .room-icon-remove.hide-750w {
    display: none;
  }
}
@media screen and (min-width: 400px) and (min-height: 400px) {
  #room-icon-preview-image {
    height: $previewImageSize400w400h;
    width: $previewImageSize400w400h;
    // margin-top: 1rem;
  }
  #room-icon-buttons-container {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 500px) and (min-height: 450px) {
  #room-icon-preview-image {
    height: $previewImageSize500w450h;
    width: $previewImageSize500w450h;
    margin-top: 4rem;
  }
}

@media screen and (min-width: 600px) and (min-height: 500px) {
  #room-icon-preview-image {
    height: $previewImageSize600w500h;
    width: $previewImageSize600w500h;
  }
}

@media screen and (min-width: 700px) and (min-height: 600px) {
  #room-icon-preview-image {
    height: $previewImageSize700w600h;
    width: $previewImageSize700w600h;
  }
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .room-icon.modal {
    width: fit-content;
    height: auto;
    min-height: 0;
    min-width: 0;
    max-width: 40rem;
    // max-height: 40rem;
    top: 45%;
    transform: translateY(-45%);
    left: 0;
    right: 0;
    border: 2px solid $modalBorderColor;
    border-radius: 4px;
    // bottom: 8vh;
  }
  #room-icon-preview-image {
    height: $previewImageSize1200w600h;
    width: $previewImageSize1200w600h;
    // text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
/*
@media screen and (min-width: 1400px) and (min-height: 600px) {
  .room-icon.modal {
    width: fit-content;
    height: auto;
    min-height: 0;
    min-width: 0;
    max-width: 40rem;
    // max-height: 40rem;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    border: 2px solid $modalBorderColor;
    border-radius: 4px;
    // bottom: 8vh;
  }
  #room-icon-preview-image {
    height: $previewImageSize1200w600h;
    width: $previewImageSize1200w600h;
    // text-align: center;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
*/
