$headingFont: "Patrick Hand", cursive;
$textFont: "Roboto", sans-serif;
$textFontColor: #dbdde1;
$textFontColorHover: #feffff;

$main-mint: #b8ffca;
$main-black: #333538;
$light-mint: #aaffd5;

$center-margin: 0 auto;

$door-img-dimension: 1.3rem;

$tablet-width: 40.625rem;

* {
  box-sizing: border-box;
}

.door-title-container {
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  width: 100%;
}

.door-img-container {
  display: inline-block;
  position: relative;
  top: 0.49rem;
  margin-right: 0.5rem;
}

.door-icon-img {
  filter: invert(100%) sepia(81%) saturate(1328%) hue-rotate(178deg)
    brightness(105%) contrast(101%);
  width: $door-img-dimension;
  height: $door-img-dimension;
}

.heading {
  color: $textFontColor;
  font-size: 1.5rem;
  font-family: $textFont;
  text-align: center;
  padding-bottom: 10px;
  text-transform: none;
  // border-bottom: 2px solid $main-mint;
}

.register.error {
  position: relative;
  left: 0.8rem;
}

@media screen and (min-width: 750px) and (min-height: 700px) {
  .register.form-content-container,
  #register-form {
    max-width: 35rem;
  }

  .door-title-container {
    padding-top: 0rem;
  }
}
