@import "../../../utils/variables.scss";

.modal-footer {
  z-index: 110;
  position: relative;
  width: 100%;
  height: 3.6rem;
  // bottom: 0;
  background-color: $modal-footer-black;
}

.modal-footer-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem;
  height: 100%;
}

.modal-footer .cancel-button {
  margin-right: 1rem;
}
